<% unless @items.empty? %>
  <h2 style="margin: 0 auto">All items</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Delete</th>
    </tr>
    <% @items.sort.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= item.price %></td>
        <td><%= "img" if item.description %></td>
        <td><%= item.votes_count %>, <%= link_to '+', upvote_item_path(item) %></td>
        <td><%= button_to 'Delete', item_path(item), method: :delete %></td>
      </tr>
    <% end %>
  </table>
  <%= button_to 'New Item', new_item_path, method: :get%>
  <%= button_to 'Only expensive', expensive_items_path, method: :get%>
  <%= button_to 'Main page', items_path, method: :get%>
<% else %>
  <h3 style="margin: 0 auto">No items</h3>
  <%= button_to 'New Item', new_item_path, method: :get%>
<% end %>

<%= render partial: 'shared/email' %>
