<% unless @items.empty? %>
  <h2 style="margin: 0 auto">All items</h2>
  <table class="my-table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Image</th>
      <th>Delete</th>
    </tr>
    <% @items.sort.each do |item| %>
      <tr>
        <th><%= item.id %></th>
        <th><%= link_to item.name, item_path(item) %></th>
        <th><%= item.price %></th>
        <th style="font-weight: bold; text-align: center"><%= item.description ? "img" : "no img" %></th>
        <th><%= item.votes_count %>, <%= link_to '+', upvote_item_path(item) %> </th>
        <th><%= !item.image.nil? ? image_tag(item.image.file, width: '30px', height: '30px') : 'no img' %></th>
        <th><%= button_to 'delete', item_path(item), method: :delete %></th>
      </tr>
    <% end %>
  </table>
  <%= button_to 'New Item', new_item_path, method: :get%>
  <%= button_to 'Only expensive', expensive_items_path, method: :get%>
  <%= button_to 'Main page', items_path, method: :get%>
  <%= button_to 'Admin panel', admin_users_count_path, method: :get%>

<% else %>
  <h3 style="margin: 0 auto">No items</h3>
  <%= button_to 'New Item', new_item_path, method: :get%>
<% end %>

<%= render partial: 'shared/email' %>
