<div class="container">
  <h2>New Item</h2>

  <%= simple_form_for @item do |f| %>
    <%= f.input :name, input_html: { class: 'form-control' } %>
    <%= f.input :price, input_html: { class: 'form-control' }, required: true %>
    <%= f.input :description,  label: t('item.description'), input_html: { class: 'form-control' } %>

    <%= f.button :submit, "Save", class: 'btn btn-primary mt-4' %>
  <% end %>

  <%= render partial: 'shared/email' %>
</div>
