%h2{ style: "margin: 0 auto" } Show item

%h4= @item.name.upcase

%ul
  %li Price: #{@item.price} $
  %li Description: #{urls_to_content(@item.description)}
  %li Weight: #{@item.weight}

= button_to "Edit item", edit_item_path, method: :get
= button_to "Delete item", item_path(@item), method: :delete
= button_to 'Main page', items_path, method: :get

= render partial: 'shared/email'
