<!DOCTYPE html>
<html>
  <head>
    <title>LearningRuby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron vertical-center bg-lig">
      <div class="container">
        <h2 style="color: #b00100">Admin panel</h2>
        <%= yield %>
        <%= render partial: 'shared/email' %>
      </div>
    </div>
  </body>
</html>
