<!DOCTYPE html>
<html>
  <head>
    <title>LearningRuby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('1.jpg') %>
  </head>

  <body>

    <%# devise %>
      <%= render partial: 'include/auth/auth_header' %>
    <%# devise %>

    <div class="jumbotron vertical-center bg-light">
      <div class="container">
        <h2 style="color: #b00100">User Panel</h2>
        <%= render partial: 'include/main/notification' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
