<!DOCTYPE html>
<html>
  <head>
    <title>LearningRuby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('1.jpg') %>
  </head>

  <body>
    <h2 style="color: red">User Panel</h2>
    <p style="color: red"><%= flash[:error] %></p>
    <p style="color: green"><%= flash[:success] %></p>
    <%= yield %>
  </body>
</html>
